.header-block {
    text-align: center;
    &__title {
        @include adaptiv-font(34, 30);
        font-weight: 700;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 5.44px;
        position: relative;
        padding-bottom: 35px;
        &::after {
            content: "";
            position: absolute;
            width: 81px;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            background-color: #000000;
        }
    }
    &__text {
        margin-top: 35px;
    }
}
